.playerButton {
  background-color: pink;
  color: black;
}

body.correct {
  background-color: green;
}

body.wrong {
  background-color: red;
}

/*  
    Färgteama;
    pink/black/white + nice background color 
*/
